@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');

/*General styling*/
* {
    box-sizing: border-box  ;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.slider-container   {
    position: relative; /* because the child is position absulote */
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.left-slide {
    height: 100%;
    width: 35%;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: transform .5s ease-in-out;
}

.left-slide > div {
    height: 100%;/* of the 35%*/
    width: 100%; /* of the 35%*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

}

.left-slide > h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -30px;
}

.right-slide    {
    height: 100%;
    position: absolute;
    top: 0px;
    left: 35%;
    width: 65%;
    transition: transform .5s ease-in-out;
}

.right-slide > div   {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}
/*General button*/
button  {
    background-color: #ffff;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.9rem;
}

button:hover    {
    color: #222;
}

button:focus    {
    outline: none;
}

/* separate from the button to style different buttons independently*/
.slider-container .action-buttons button    {
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;
}

/*Down button style*/
.slider-container .action-buttons .down-button  {
    /*-100% So the down buttom goes inside the slide container.*/
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/*Up button style*/
.slider-container .action-buttons .up-button    {
    /*So that the up button is up -100%*/
    transform: translateY(-100%);      
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}